<h1 mat-dialog-title>💘💘💘Suzy Bae Forever💕💕💕!</h1>
<div mat-dialog-content>
   <form [formGroup]="contactForm">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input formControlName = "firstName" matInput placeholder="First Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input formControlName = "lastName" matInput placeholder="Last Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input formControlName = "date" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input formControlName = "contactNumber" matInput type="number" placeholder="09##-####-###">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName = "email" matInput placeholder="abcde@gmail.com">
    </mat-form-field>
   </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="addContact()">{{actionBtn}}</button>
</div>