h1 {
    text-align: center;
}

div{
    text-align: center;
}

mat-form-field{
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .occupation{
    text-align: left;
  }
